@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: 1em;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: gray;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    flex: 0 0 200px;
    text-shadow: 2px 2px 0px #00000070;
}

header > nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
    background-color: #000;
    color: #fff;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header > nav > a:hover {
    background-color: #fff;
    color: #000;
    transition: background-color .5s;
}

main {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #0000005e;
}

@media screen and (max-width: 566px) {
    header, header > nav {
        flex-flow: column nowrap;
    }

    header > h1 {
        flex-basis: 50px
    }

    header > nav > a {
        width: 90vw;
    }
}